@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/TCB_____.TTF') format('ttf');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/TCBI____.TTF') format('ttf');
}

@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/TCCB____.TTF') format('ttf');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/TCCEB.TTF') format('ttf');
}

@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/TCM_____.TTF') format('ttf');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/TCMI____.TTF') format('ttf');
}