
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 4.8em;
  line-height: 1.0;
}
  h1 span.smaller {
    font-size: 0.75em;
  }
h2 {
  font-size: 3.8em;
}
h3 {
  /* font-size: 3.8em; */
}
h4 {
  /* font-size: 3.8em; */
}
h5 {
  /* font-size: 3.8em; */
}
h6 {
  font-size: 2.0em;
}
p.small {
  font-size: 22px;
}

body {
  margin-bottom: 300px;
}
p {
  font-size: 1.5em;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
ul li {
  list-style: none;
}

.mt-6, .my-6 { margin-top: 1.5rem !important; }
.mt-8, .my-8 { margin-top: 2rem !important; }
.mt-12, .my-12 { margin-top: 3rem !important; }

.mt-16, .my-16 { margin-top: 4rem !important; }
.mb-6, .my-6 { margin-bottom: 1.5rem !important; }
.mb-8, .my-8 { margin-bottom: 2rem !important; }
.mb-12, .my-12 { margin-bottom: 3rem !important; }
.mb-16, .my-16 { margin-bottom: 4rem !important; }

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Tw Cen MT', sans-serif;
}

.border-container {
  position: relative;
}
.border {
  border: 0 !important;
  position: absolute;
  width: 100%;
  background: url('/img/border.png') no-repeat center center;
  background-size: cover;
}
.border-gradient {
  background-image: linear-gradient(0deg, transparent 0%, rgba(0,0,0,0.02) 80%) !important;
}
.border-top {
  top: 0;
}
.border-bottom {
  bottom: 0;

  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}
.container {
  position: relative;
  z-index: 10;
}

.bg-primary {
  background-image: linear-gradient(45deg, #36c1c7 0%, #67dfc4 90%) !important;
}
.bg-blue {
  background-image: linear-gradient(45deg, #168cf8 0%, #59dfff 90%) !important;
}
.bg-light {
  background-color: #f8fafe !important;
}

/* Header */
#header-image {
  position: absolute;
  left: 0;
  top: 0;
}

/* Content 3 */
#tab-navi ul {
  margin: 0;
  padding: 0;
}
  #tab-navi ul li {
    /* height: 100px;
    line-height: 50px; */
    padding: 5px 0 5px 20px;
    margin: 0 0 30px 0;
    cursor: pointer;
    font-size: 1.8em;
    /* border: 2px solid transparent; */
    background-color: #fff;
    transition: all 0.4s;
    border-radius: .75rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.125) !important;
  }
  #tab-navi ul li:hover {
    /* border-color: #59dfff; */
    /* background-color: #59deff6e; */
    transform: translate(0, -3px);
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.125) !important;
  }
  #tab-navi ul li.active {
    /* border-color: #000; */
    background-color: #d3f1f86e;
  }
#tab-content {
}
  #tab-content ul li {
    display: none;
  }
    #tab-content ul li.active {
      display: block;
    }
#tab-thumb {
}
  #tab-thumb ul li {
    display: none;
  }
    #tab-thumb ul li.active {
      display: block;
    }


/* Footer */
footer {
  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: -1; */
}
/* 
footer .container {
  padding-top: 100px;
} */