
h1 {
  font-size: 4.0em;
}
h2 {
  font-size: 3.0em;
}

body {
  margin-bottom: 300px;
}

.border-container {
  position: relative;
}
  .border-container .container {
    padding: 150px 0;
  }
.border {
  position: absolute;
  width: 100%;
  height: 320px;
  background: url('img/border.png') no-repeat center center;
  background-size: cover;
}
.border-top {
  top: 0;
}
.border-bottom {
  bottom: 0;

  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

#headerImg {
  position: absolute;
  left: 0;
  top: 0;
}

.bg-blue {
  background-image: linear-gradient(45deg, #168cf8 0%, #59dfff 100%) !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}