@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/TCB_____.TTF') format('ttf'), url('./assets/fonts/TCB_____.woff') format('woff');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/TCBI____.TTF') format('ttf'), url('./assets/fonts/TCBI____.woff') format('woff');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./assets/fonts/TCCB____.TTF') format('ttf'), url('./assets/fonts/TCCB____.woff') format('woff');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('./assets/fonts/TCCEB.TTF') format('ttf'), url('./assets/fonts/TCCEB.woff') format('woff');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./assets/fonts/TCM_____.TTF') format('ttf'), url('./assets/fonts/TCM_____.woff') format('woff');
}
@font-face {
  font-family: 'Tw Cen MT';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('./assets/fonts/TCMI____.TTF') format('ttf'), url('./assets/fonts/TCMI____.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.woff2') format('woff2'), url('./assets/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2'), url('./assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.woff2') format('woff2'), url('./assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2'), url('./assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'), url('./assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'), url('./assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Black.woff2') format('woff2'), url('./assets/fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
