@import './fonts.css';

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-bottom: 520px;
  color: #555;
}

#app {
  font-family: 'Tw Cen MT', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(59,60,66);
}
h1 {
  font-weight: normal;
  text-align: center;
  font-size: 3.0em;
  font-family: "Playfair Display";
  margin-bottom: 2.0rem;
}
h2, h3 {
  font-weight: normal;
  font-size: 2.0em;
}
h4 {
  font-size: 2.2em;
  line-height: 1.2em;
}
p, span, li {
  font-size: 1.25em;
}
a > span,
li > span {
  font-size: 1.0em;
}
.pre-headline {
  font-size: 1.05rem;
  line-height: 1.0em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  color: #55b49b;
}
.pre-headline.color1 {
  color: #fff;
}
.pre-headline.color2 {
  color: #d95959;
}
.pre-headline.color3 {
  color: #f79d26;
}

@media (max-width: 1024px) {
  p, span, li {
    font-size: 1.2em;
    line-height: 1.7em;
  }
  h1 {
    font-size: 3.0em;
    margin-bottom: 2.0rem;
  }
  h2, h3 {
    font-size: 2.0em;
  }
}
@media (max-width: 768px) {
  body {
    margin-bottom: 570px;
  }
  p, span, li {
    font-size: 1.1em;
    line-height: 1.9em;
  }
  h1 {
    font-size: 2.6em;
  }
  h2, h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 4.8vw;
  }
}
@media (max-width: 640px) {
  p, span, li {
    font-size: 0.95em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2, h3 {
    font-size: 1.6em;
    margin-top: 0.8rem;
  }
}

a {
  text-decoration: underline;
}
a:hover {
  color: #67dfc4;
}
.scale-102:hover {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
}
.scale-103:hover {
  --tw-scale-x: 1.03;
  --tw-scale-y: 1.03;
}
#content {
  background-color: #fff;
  z-index: 20;
}
#content section {
  background-color: #fff;
  position: relative;
  z-index: 20;
}

ul.checklist li,
ul.list li {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 32px;
  line-height: 1.2em;
  margin-bottom: 12px;
  background-size: 18px;
}
ul.checklist li {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>');
}
ul.list li {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>');
}