@import './font.css';

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Tw Cen MT', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
